#dialog1 {
    -fx-background-color: #e7e7e7;
    -fx-padding: 10;
    -fx-label-padding: 2, 0, 2, 0;
    -fx-wrap-text: true;
    -fx-background-radius: 10;
    -fx-max-width: 500;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 12.5, 0.5, 2.5, 2.5);
}

#displayPicture {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 12.5, 0.5, 0, 0);
}