name: Check Style

on:
  [ push, pull_request ]

jobs:
  check_style:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - uses: actions/checkout@v2
      - name: checkStyle
        run: ./gradlew checkStyleMain